* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to left, #3216e7, #98a0eb);
}

.todo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #444141;
  background: #ffffff;
  font-size: 20px;
  text-align: center;
  width: 450px;
  height: 500px auto;
  margin: 100px auto;
  padding-bottom: 20px;
  border-radius: 10px;
}

h1 {
  text-shadow: 1px 1px rgb(51, 49, 49);
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -10px;
  margin-bottom: 5px;
}

.todoForm {
  margin-bottom: 20px;
}

.inputTodo {
  color: rgb(0, 0, 0);
  background: transparent;
  font-size: 15px;
  width: 300px;
  margin-top: 1%;
  padding: 14px 32px 14px 16px;
  border: 2px solid #5b68dd;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.btn {
  color: #ffffff;
  background: linear-gradient(to left, #0e7fcf, #5b68dd);
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  outline: none;
  cursor: pointer;
}

.todoEdit {
  border: 2px solid #62b2ec;
  color: rgb(0, 0, 0);
  background: transparent;
  font-size: 15px;
  width: 280px;
  margin-top: 1%;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.btnEdit {
  background: linear-gradient(to left, #149fff, #62b2ec);
  color: #ffffff;
  font-size: 15px;
  padding: 16px 20px;
  border: none;
  border-radius: 0 4px 4px 0;
  outline: none;
  cursor: pointer;
}

.todoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff9f9;
  background: linear-gradient(to left, #1273af, #4553ee);
  width: 82%;
  margin-left: 40px;
  margin-right: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
}

.complete {
  opacity: 0.4;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.deleteIcon {
  color: #ffffff;
  margin-right: 4px;
}

.editIcon {
  color: #ffffff;
  margin-right: 4px;
}

#ing {
  padding: 2px;
  border-radius: 2px;
  border: none;
  margin-right: 4px;
  outline: none;
}